#searchBarContainer {
    display: flex;
    justify-self: center;
    /* align-items: center; */
}

#submit {
    background: none;
    border: none;
    display: flex;
    /* border: 1px solid black; */
    position: relative;
    right: 15%;
    /* justify-content: center; */
    align-items: center;
}

#searchIcon {
    height: 25px;
    width: auto;
    /* border: 1px solid black; */
}

#searchField {
    /* background-color: blue; */
    padding: 4%;
    width: 333px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(42,42,42);
    /* color: #ff6a07; */
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}